REACT_APP_WEBCAPTIONER_SERVER=http://localhost:4000
REACT_APP_YOUTUBE_REGION=reg1#cue1
REACT_APP_DEFAULT_SOTRA_MODEL='fairseq'
REACT_APP_DEFAULT_YOUTUBE_TIME_OFFSET=8
VOSK_SAMPLE_RATE=48000
VOSK_LOG_AUDIO=false
VOSK_SHOW_WORDS=true
MODEL_PATH_FULL=/whisper/Korla/hsb_stt_demo/hsb_whisper/ggml-model.q8_0.bin
REACT_APP_SEND_TIMESTAMP=true
REACT_APP_SEND_TIMESTAMP_COUNT=5
REACT_APP_MAX_LINES_IN_HISTORY=10