REACT_APP_YOUTUBE_REGION=reg1#cue1
REACT_APP_WEBCAPTIONER_SERVER=http://localhost:4000
#REACT_APP_WEBCAPTIONER_SERVER=https://webcaptioner-back.mudrowak.de
REACT_APP_PASSWORD=''
REACT_APP_DEFAULT_SOTRA_MODEL='fairseq'
REACT_APP_DEFAULT_YOUTUBE_TIME_OFFSET=8
VOSK_SAMPLE_RATE=48000
VOSK_LOG_AUDIO=false
VOSK_SHOW_WORDS=True
REACT_APP_SEND_TIMESTAMP=true
REACT_APP_SEND_TIMESTAMP_COUNT=5
REACT_APP_MAX_LINES_IN_HISTORY=10
REACT_APP_DEFAULT_VOSK_SAMPLE_RATE=48000
REACT_APP_RECORDING_INFORMATION_LINE=Kedzbu, nahrawa so
REACT_APP_DEBUG_SERVER_LOGS=true
REACT_APP_DEFAULT_AUDIO_FORMAT=mp3
REACT_APP_DEFAULT_TRANSLATION_TARGET_LANGUAGE='cs'
